@import "tailwindcss" theme(static);
@import "./fonts.css";
@source "../views/";
@source "../../app/";

@theme {
  --font-sans: "Outfit", sans-serif;
  --color-accent: #D2FF37;

  --breakpoint-*: initial;
  --breakpoint-xs: 390px;
  --breakpoint-sm: 500px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1720px;

  --shadow-xs: 0 0px 4px rgba(0, 0, 0, 0.08);
  --shadow-sm: 0 0px 20px rgba(0, 0, 0, 0.08); 

  --default-transition-duration: 200ms;
  --text-sm--line-height: 1.25rem;
}

.container {
  @apply mx-auto px-5 w-full max-w-360;
}

body {
  @apply text-neutral-900;
}