/* @import "tailwindcss" theme(static); */
@import "tailwindcss";
@import "./fonts.css";
@source "../views/";
@source "../../app/";

@theme {
  --font-sans: "Outfit", sans-serif;
  --color-accent: #D2FF37;

  --breakpoint-*: initial;
  --breakpoint-xs: 390px;
  --breakpoint-sm: 500px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1620px;

  --shadow-xs: 0 0px 12px rgba(0, 0, 0, 0.04);
  --shadow-sm: 0 0px 20px rgba(0, 0, 0, 0.08); 

  --default-transition-duration: 250ms;
  --default-transition-timing-function: var(--ease-in-out);

  --text-sm--line-height: 1.25rem;
}

.container {
  @apply mx-auto px-30 max-xl:px-5 w-full max-w-390;
}

body {
  @apply text-neutral-900;
}